 <main >
  <!-- <?php var_dump($variable['session']) ?> -->
    <h1>Welcome Back <?=$_SESSION['user']['name'] ?? '' ?>
      <button class="btn" id="myBtn"><i class="fas fa-plus"></i>Add Submission</button>
    </h1>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <form>
          <h2>Add Submission</h2>
          <p>Please enter the details for the submission</p>
          <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" id="name" name="name" >
          </div>
          <div class="form-group">
            <label for="course">course</label>
            <input type="text" id="topic" name="topic" >
          </div>
          <div class="form-group">
            <label for="submission-link">Submission Link</label>
            <input type="text" id="session" name="slink" >
          </div>
          <div class="drop-zone">
            <p class="drop-zone__prompt"> <span>click to upload</span> or drag and drop
             SVG,PNG,JPG OR GIF(max.800*400px)
            </p>
            <input type="file" name="myFile" class="drop-zone__input">
          </div>
          
         <div class="button">
          <input type="submit" value="close" class="btn1-submit close">
          <input type="submit" value="Submit" class="btn2-submit">
        </div>
        </form>
      </div>
    </div>
    <div class="cards">
        <div class="card">
          <div class="header">
           
            <p class="alert">Total Sessions
              
            </p>
          </div>
          <div class="graphs">
            <span><?=count($variable['session']) ?></span>

          </div>
          
        </div>
        <div class="card">
          <div class="header">
           
            <p class="alert">Missed Sessions</p>
          </div>
          <div class="graphs">
            <span>4</span>
  
          </div>
        </div>
        <div class="card">
          <div class="header">
           
            <p class="alert">Total Submissions</p>
          </div>
          <div class="graphs">
            <span>4</span>

          </div>
        </div>   
    </div>
   
   
    
    <!-- input -->
    <div class="content">
      <form id="animated">
      <input type="text" name="search" placeholder="Search..">
      </form>
      <div class="table">
        <section class="table__body">
          <table>
              <thead>
                  <tr>
                      <th> <input type="checkbox"></th>
                      <th> Course Name</th>
                      <th> Topic</th>
                      <th> Session Details</th>
                      <th> Status</th>
                      <th>Attendence</th>
                      
                      
                      
                  </tr>
              </thead>
              <tbody>
                <?php $i = 1; foreach($variable['session'] as $s) { ?>
                  <tr>
                      <td> <?=$i; ?> </td>
                      <td> <?=$s->topic->course->name ?? '' ?></td>
                      <td>
                        <p ><?=$s->topic->name ?? '' ?></p>
                      </td>
                      <td> <?=$s->sessiondt ?? '' ?>
                      </td>
                      <td> <?=$s->attend->status ?? '' ?> </td>
                      <td><div class="table-buttons">
                        <!-- <button class="missed">Missed</button>
                        <button class="attend">Attend</button> -->
                        <div class="menu">
                          <button class="actionBtn">Action</button>
                          
                          <ul class="menu-link">
                            <li><a href="index.php?seo_name=ldashboard&amp;act=missed&amp;id=<?=$s->id ?>">missed</a></li>
                            <li><a href="index.php?seo_name=ldashboard&amp;act=attend&amp;id=<?=$s->id ?>">Attended</a></li>
  
                          </ul>
                        </div> 
                      </td>  
              
                      </div></td>            
                  </tr>

                <?php $i++; } ?>
                                 
              </tbody>
              
          </table>
          <div class="table-btn">
            <button class="pre">Previous</button>
            <button class="next">Next</button>
          </div>
          
      </div>
  </div>
  
  </main>

  <script >
    const allaction = document.querySelectorAll('main .menu');
  
   allaction.forEach(item=> {
     const icon = item.querySelector('.actionBtn');
     const menuLink = item.querySelector('.menu-link');
   
     icon.addEventListener('click', function () {
       menuLink.classList.toggle('show');
     })
   })
  </script>