<main >
 
  <h1>Submissions & Feedback

    <?php
    $Reviewed = 0;
    foreach($variable['submissions'] as $r){
      if(($r->status ?? '') == 'Reviewed'){
        $Reviewed++;
      }
    }
    ?>
    
  </h1>
  <div class="cards">
    <!-- <div class="card">
      <div class="header">
       
        <p class="alert">Course Tutor
          
        </p>
      </div>
      <h1>Nabende Peter</h1>
      
    </div> -->
    <div class="card">
      <div class="header">
       
        <p class="alert">Submissions</p>
      </div>
       <h1><?=count($variable['submissions']) ?></h1>
    </div>
    <div class="card">
      <div class="header">
       
        <p class="alert">Reviewed Submission</p>
      </div>
       <h1><?=$Reviewed; ?> out Of <?=count($variable['submissions']) ?></h1>
    </div>   
</div>

  <!-- input -->
  <div class="content">
    <form id="animated">
    <input type="text" name="search" placeholder="Search..">
    </form>
    <div class="table">
      <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> <input type="checkbox"></th>
                    <th> course Name </th>
                    <th>Submission Name</th>
                    <th> Project Link</th>
                    <th>Project Pdf</th>
                    <th>Submission State</th>              
                    
                </tr>
            </thead>
            <tbody>
              <?php $i = 1; foreach($variable['submissions'] as $s){ ?>
                <tr>
                    <td> <?=$i ?? '' ?> </td>
                    <td> <?=$s->course->name ?? '' ?></td>
                    <td><?=$s->name ?? '' ?></td>
                    <td> <a href="<?=$s->slink ?? '' ?>" target="_blank" rel="noopener noreferrer">Go to project</a></td>
                    <td> <a href="index.php?seo_name=submissions&amp;act=download&amp;id=<?=$s->id ?>">Download Pdf</a>  </td>
                    <td><?=$s->status ?? '' ?></td>
                    <td>
                      <div class="menu">
                        <button class="actionBtn">Action</button>
  
                        <ul class="menu-link">
                          <!-- https://www.paypal.com/in/home https://flutterwave.com/us/  https://flutterwave.com/pay/shmtsg5teams-->
                          <!-- <li><a href="https://flutterwave.com/pay/shmtsg5teams">Pay</a></li> -->
                          <li><a href="index.php?seo_name=submissions&amp;act=remove&amp;id=<?=$s->id ?>">remove</a></li>
  
                        </ul>
                      </div> 
                     </td>     
                   
                </tr>

              <?php $i++; } ?>
                     
            </tbody>
        </table>
        <div class="table-btn">
          <button class="pre">Previous</button>
          <button class="next">Next</button>
        </div>
    </div>
</div>
</main>

<script  >
  const allaction = document.querySelectorAll('main .menu');

 allaction.forEach(item=> {
   const icon = item.querySelector('.actionBtn');
   const menuLink = item.querySelector('.menu-link');
 
   icon.addEventListener('click', function () {
     menuLink.classList.toggle('show');
   })
 })
</script>